/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 142; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: #88C7BB;
    --first-color-second: #88C7BB;
    --first-color-alt: #9FDBD0;
    --first-color-lighter: #C8F0E8;
    --title-color: #333333;
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color:#C5DFD1;
    --scroll-thumb-color:#718F7F;

    /*========== Font and typography ==========*/
    --body-font: 'Noto Sans SC', sans-serif, 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: .9rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*==================== BASE ====================*/
* {
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section{
  padding: 2rem 0 2rem;
}



/*==================== BUTTON ====================*/
.button{
  display: inline;
  background-color:var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button_icon{
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: .3s;
}

.button--flex{
  display: inline-flex;
  align-items: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 900px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/
.nav{
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo,
.nav_toggle{
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav_logo:hover{
  color: var(--first-color);
}

.nav_toggle{
  font-size: 1.1rem;
  cursor: pointer;
}

.nav_toggle:hover{
  color: var(--first-color);
}

@media screen and (max-width: 767px){
  .nav_menu{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition:  .3s;
  }
}

.nav_list{
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.nav_link{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav_link:hover{
  color: var(--first-color);
}

.nav_icon{
  font-size: 1.2rem;
}

.nav_close{
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav_close:hover{
  color: var(--first-color-alt);
}

/* show menu */
.show-menu{
  bottom: 0;
}

/* Active link */
.active-link{
  color: var(--first-color);
}

/*==================== Portfolio1 ====================*/

.portfolio1_bg{
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  background: url(/img/portfolio1/portfolio1_bg.png) no-repeat center;
  background-color: #CDCDCD;
}

.portfolio1_container{
height: auto;
width: auto;
}

.portfolio1_container h1{
  color: #fff;
  font-size: var(--big-font-size);
}

.portfolio1_scroll{
  color: var(--first-color);
  transition:  .3s;
  text-align: center;
  padding-bottom: 5%;
}


.portfolio1_scroll-arrow{
  color: #fff;
  font-size: 2rem;
  animation: arrow-down ease 2s infinite;
}

@keyframes arrow-down{
  0%{
      transform: translateY(0);
  }
  30%{
      transform: translateY(10px);
  }
}

/*==================== Portfolio2 ====================*/
.portfolio2 .section{
padding: 0 0 0 2rem;
}
.portfolio2_bg{
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  background-color: var(--first-color);
}
.portfolio2 .box-container{
  text-align: center;
  flex-direction: row;
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex: 0 0 0 10rem;
  margin-bottom: 2rem;

}

.portfolio2 .box-container .box{
  display: grid;
  grid-template-rows: repeat(4 1fr);
  flex: 1 1 6rem ;
}

.portfolio2_container  h1{
  padding: 2rem 0 2rem 0; 
  color: #fff;
  font-size:var(--h3-font-size);
}

.portfolio2_container  h2{
  font-size: var(--small-font-size);
  color: #fff;
  letter-spacing: 1px;
  font-weight: 400;
  padding-bottom: 2rem;
}

.portfolio2 .box-container  h3{
  font-size: var(--normal-font-size);
  color: var(--first-color);
  line-height: 2;
  width: auto;

}
.portfolio2 .box-container h4{
  text-align: center;
  font-size: var(--normal-font-size);
  color: #626262;
} 


/*==================== Portfolio 3 ====================*/


.portfolio3_container .box-container h1{
  color:var(--title-color);
  font-size:var(--h2-font-size);
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  margin-bottom: 2rem;
}

.portfolio3_container .box-container h2{
  color:#626262;
  font-size: var(--normal-font-size);
  letter-spacing: 1px;
  font-weight: 400;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

/*==================== Portfolio 4 ====================*/
.portfolio4{
    background-color: #f3f3f3;
  }
.portfolio4_container {
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.portfolio4_container .box-container{
  display: flex;
  justify-content:space-between;
}


.portfolio4_container .box-container .box{
  flex: 1 1 10rem;
  justify-content: center;
  text-align: center;
  display: table;
}
.portfolio4_container .box-container h1{
  color:var(--title-color);
  font-size:var(--h2-font-size);
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  margin-bottom: 1rem;
}

.portfolio4_container .box-container h2{
  color:var(--title-color);
  font-size: var(--normal-font-size);
  letter-spacing: 1px;
  font-weight: 400;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}
.portfolio4_container .box-container .box h4{
  width: auto;
  font-size: var(--normal-font-size);
  color: #626262;
  font-weight: 400;
  text-align: left;
  display:table-cell;
  vertical-align: middle; 
}

.portfolio4_container2 .box-container h1{
  color:var(--title-color);
  font-size:var(--h3-font-size);
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  margin-bottom: 1rem;
}

.portfolio4_container2 .box-container h2{
  color:#626262;
  font-size: var(--normal-font-size);
  letter-spacing: 1px;
  font-weight: 400;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  margin-top: 2rem;
}


/*==================== Portfolio 5 ====================*/

.portfolio5_container1,
.portfolio5_container2 {
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}
.portfolio5_container1 .box-container{
  display: flex;
  justify-content:space-between;
}

.portfolio5_container1 .box-container .box{
  flex: 1 1 10rem;
  justify-content: center;
  text-align: center;
  display: table;
}
.portfolio5_container1 .box-container h1{
  color:var(--title-color);
  font-size:var(--h2-font-size);
  font-weight: 700;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  margin-bottom: 2rem;
}

.portfolio5_container1 .box h4{
  color:#626262;
  font-size: var(--normal-font-size);
  letter-spacing: 1px;
  font-weight: 400;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  margin-bottom: 2rem;
}

.portfolio5_container2 .box-container{
  display: flex;
  justify-content:space-between;

}


/*==================== Portfolio 6 ====================*/

.portfolio6_container1,
.portfolio6_container2 {
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}
.portfolio6_container1 .box-container{
  display: flex;
  justify-content:space-between;
}


.portfolio6_container1 .box-container h1{
  color:var(--title-color);
  font-size:var(--h2-font-size);
  font-weight: 700;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  margin-bottom: 2rem;
}


.portfolio6_container1 .box-container .box{
  flex: 1 1 10rem;
  justify-content: center;
  text-align: center;
  display: table;
}
.portfolio6_container1 .box-container h1{
  color:var(--first-color);
  font-size:var(--h3-font-size);
  font-weight: 700;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  margin-bottom: 2rem;
}
.portfolio6_container2 .box-container{
  display: flex;
  justify-content:space-between;

}
.portfolio6_container2 .box-container .box{
  flex: 1 1 10rem;
  justify-content: center;
  text-align: center;
  display: table;
  margin: 0rem 2rem 2rem 2rem;
}
.portfolio6_container2 .box-container .box h2{
  color: var(--title-color);
  font-size:var(--h3-font-size);
  margin-bottom: 1rem;

}

.portfolio6_container2 .box-container .box li{
  margin-top: 1rem;
  margin-left: 2rem;
  text-align: left;
  color: #626262;
}
.portfolio6_container2 .box-container .box .img{
display: inline-block;
text-align: center;
justify-content: center;
width: 120px;
height: 120px;
margin-bottom: 1rem;
}

/*==================== Portfolio 7 ====================*/

.portfolio7_container {
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.portfolio7_container .box-container{
  display: flex;
  justify-content:space-between;
}


.portfolio7_container .box-container .box{
  flex: 1 1 10rem;
  justify-content: center;
  text-align: center;
  display: table;
  margin-right: 1rem;
}
.portfolio7_container .box-container h1{
  color:var(--first-color);
  font-size:var(--h3-font-size);
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  margin-bottom: 2rem;
}

.portfolio7_container .box-container h2{
  color:#626262;
  font-size: var(--normal-font-size);
  letter-spacing: 1px;
  font-weight: 400;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  margin-bottom: 2rem;
}


.portfolio7_container2 .box-container h1{
  color:var(--title-color);
  font-size:var(--h3-font-size);
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  margin-bottom: .5rem;
}

.portfolio7_container2 .box-container h2{
  color:#626262;
  font-size: var(--normal-font-size);
  letter-spacing: 1px;
  font-weight: 400;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

/*==================== Portfolio 8 ====================*/
.portfolio8{
  background-color: #f3f3f3;
}
.portfolio8_container1,
.portfolio8_container2 {
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}
.portfolio8_container1 .box-container{
  display: flex;
  justify-content:space-between;
}

.portfolio8_container1 .box-container .box{
  flex: 1 1 10rem;
  justify-content: center;
  text-align: center;
  display: table;
}
.portfolio8_container1 .box-container h1{
  color:var(--title-color);
  font-size:var(--h2-font-size);
  font-weight: 700;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  margin-bottom: 2rem;
}

.portfolio8_container1 .box h4{
  color:#626262;
  font-size: var(--normal-font-size);
  letter-spacing: 1px;
  font-weight: 400;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  margin-bottom: 2rem;
}

.portfolio8_container2 .box-container{
  display: flex;
  justify-content:space-between;
}


.portfolio8_container2 .box-container .box{
  display: table;
  vertical-align: middle;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.portfolio8_container2 .box-container .box p{
  color: var(--first-color);
  font-size: 32px;
  display: table-cell;
  vertical-align: middle;

}

/*==================== Portfolio 9 ====================*/

.portfolio9_container {
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.portfolio9_container .box-container{
  display: flex;
  justify-content:space-between;
}

.portfolio9_container .box-container .box{
  flex: 1 1 10rem;
  justify-content: center;
  text-align: center;
  display: table;

}

.portfolio9_container .box-container h1{
  color:var(--title-color);
  font-size:var(--h2-font-size);
  font-weight: 700;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  margin-bottom: 2rem;
}

.portfolio9_container .box h2{
  color: #88C7BB; 
  font-weight: 500;
  font-size: var(--h2-font-size);
}

.portfolio9_container .box h4{
  color:#626262;
  font-size: var(--normal-font-size);
  letter-spacing: 1px;
  font-weight: 400;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  margin-bottom: 2rem;
}

/*==================== Portfolio 10 ====================*/
.portfolio10{
  background-color: #f3f3f3;
}
.portfolio10_container {
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.portfolio10_container .box-container{
  display: table;
  justify-content:space-between;
  margin-bottom: 4rem;
}

.portfolio10_container .box-container .box{
  flex: 1 1 10rem;
  justify-content: center;
  text-align: center;
  display: table;
}


.portfolio10_container .box-container2{
  display: flex;
  justify-content:space-between;
  margin-bottom: 4rem;
}



.portfolio10_container .box-container2 .box2{
  flex: 1 1 10rem;
  justify-content: center;
  text-align: center;
  display: table;
  margin: 2rem 2rem 1rem 2rem;
}

.portfolio10_container .box2 h4,
.portfolio10_container .box3 h4{
  color: var(--first-color);
  font-weight: 500;
  font-size: var(--h2-font-size);
  justify-content: center;
  text-align: center;
}

.portfolio10_container .box3 {
  padding: 2rem;
}
.portfolio10_container .box3 h4{
  padding: 2rem;
}

.portfolio10_container .box .img1{
 padding: 0 10% 0 10%;
}

.portfolio10_container .box-container h1{
  color:var(--title-color);
  font-size:var(--h2-font-size);
  font-weight: 700;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  margin-bottom: 2rem;
}

.portfolio10_container .box h4{
  color:#626262;
  font-size: var(--small-font-size);
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  margin-bottom: 2rem;
}

/*==================== FOOTER ====================*/
.footer{
    padding-top: 2rem;
  }
  
  .footer_bg{
    background-color: var(--first-color);
    padding: 2rem 0 3rem;
  }
  
  .footer_title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
  }
  
  .footer_container{
    text-align: center;
  }

  .footer_subtitle{
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-0-25);
  }
  
  .footer_links{
    margin-top: 1.3rem;
  }
  
  .footer_link{
    text-align: center;
    color: #777;
  }
  
  .footer_link:hover{
    color: #fff;
  }
  
  .footer_copy{
    font-size: var(--smaller-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: var(--mb-3);
  }
  
  .footer_title,
  .footer_subtitle{
    color: #333333;
  }


  /*========== SCROLL UP ==========*/
  .scrollup{
    position: fixed;
    right: 1rem;
    bottom: -28%;
    background-color: var(--first-color);
    opacity: .8;
    padding: 0rem .4rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
  }
  
  .scrollup:hover{
    background-color: var(--first-color-alt);
  }
  
  .scrollup_icon{
    font-size: 1.5rem;
    color: #fff;
  }
  
  /* Show scroll */
  .show-scroll{
    bottom: 5rem;
  }
  
  /*========== SCROLL BAR ==========*/
  ::-webkit-scrollbar{
    width: 1rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
  }
  
  ::-webkit-scrollbar-thumb{
    width: 1rem;
    background-color: #3D6A5A ;
    border-radius: .5rem;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background-color: #718F7F;
  }
  /*==================== MEDIA QUERIES ====================*/
  /* For small devices */
  @media screen and (max-width: 350px) {
    .container{
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
    }
  
    .nav_menu{
      padding: 2rem .25rem 4rem;
    }
  
    .nav_list{
      column-gap: 0;
    }
  
    .home_content{
      grid-template-columns: .25fr 3fr;
    }
  
 
    .portfolio2 .box-container,
    .portfolio4 .box-container,
    .portfolio5 .box-container,
    .portfolio5 .box-container2,
    .portfolio6 .box-container,
    .portfolio7 .box-container{
      flex-direction: column;
      margin: 0 0 0 0;
    }
    .portfolio8_container2 .box-container{
      flex-direction: column;
      margin: 0 0 0 0;
      display: flex;
      align-items: center;
    }


    
    .skills_title{
      font-size: var(--normal-font-size);
    }
    
  }
  
  /* For medium devices */
  @media screen and (max-width: 590px){

    .portfolio2 .box-container,
    .portfolio4 .box-container,
    .portfolio5 .box-container,
    .portfolio5 .box-container2,
    .portfolio6 .box-container,
    .portfolio7 .box-container,
    .portfolio8 .box-container2{
      flex-direction: column;
      margin: 0 0 0 0;
    }
    .portfolio8_container2 .box-container{
      flex-direction: column;
      margin: 0 0 0 0;
      display: flex;
      align-items: center;
    }
    
    .portfolio8_container2 .box-container .box{
      text-align: center;
      justify-content: center;
    }
    .portfolio8_container2 .box-container .box img{
      width: 60%;
    }

}

  @media screen and (min-width: 590px){
    .home_content{
      grid-template-columns: max-content 1fr 1fr;;
    }
    .home_data{
      grid-column: initial;
    }
    .home_img{
      order: 1;
      justify-self: center;
    }
  

  }
  
  
  @media screen and (min-width: 768px){
    .container{
      margin-left: auto;
      margin-right: auto;
    }
  
    body{
      margin: 0;
    }
  
    .section{
      padding: 4rem 0 4rem;
    }
    
    .header{
      top: 0;
      bottom: initial;
    }
  
    .header,
    .main,
    .footer_container{
      padding:0 1rem;
    }
  
    .nav{
      height: calc(var(--header-height) + 1.5rem);
      column-gap: 1rem;
    }
    .nav_icon,
    .nav_close,
    .nav_toggle{
      display: none;
    }
    .nav_list{
      display: flex;
      column-gap: 2rem;
    }
    .nav_menu{
      margin-left: auto;
    }
    .home_container{
      row-gap: 5rem;
    }
    .home_content{
      padding-top: 5.5rem;
      column-gap: 2rem;
    }
    .home_blob{
      width: 270px;
    }
    .home_scroll{
      display: block;
    }
    .home_scroll-button{
      margin-left: 3rem;
    }
  
    .about_container{
      column-gap: 5rem;
    }
    .about_img{
      width: 350px;
    }
    .about_description{
      text-align: initial;
    }
    .about_info{
      justify-content: space-between;
    }
    .about_buttons{
      justify-content: initial;
    }
  
    .portfolio_img{
      width: 320px;
    }
    .portfolio_content{
      align-items: center;
    }
  
    .portfolio2 .box-container{
      text-align: center;
    }
  
    .portfolio2 .box-container .box{
      display: grid;
      justify-content: center;
      text-align: center;
    }
    .portfolio7 .box-container .box img{
      width: 80%;
      height: auto;
    }
    /* .footer_container{
      grid-template-columns: repeat(3, 1fr);
    } */
    .footer_bg{
      padding: 3rem 0 3.5rem;
    }
    .footer_links{
      flex-direction: row;
      column-gap: 2rem;
    }
    .footer_copy{
      margin-top: 4.5rem;
    }
}
  
  
  /* For large devices */
  @media screen and (min-width:1024px){
    .header,
    .main,
    .footer_container{
      padding: 0;
    }
  

    
    .portfolio1,
    .portfolio2 {
      column-gap: 2rem;
    }

    .portfolio2 .box-container{

      text-align: center;

    }
  
    .portfolio2 .box-container .box{
      display: grid;
      justify-content: center;
      text-align: center;

    }

    .contact_form{
      width: 460px;
    }
    .contact_input{
      grid-template-columns: repeat(2, 1fr);
    }
  }